    body {
        background-image: url(' https://st3.depositphotos.com/6029410/33012/v/1600/depositphotos_330129922-stock-illustration-straight-empty-road-countryside-green.jpg ');
        background-repeat: no-repeat;
        background-size: 1200px 500px;
    }
    
    div {
        width: 550px;
        height: 200px;
        margin: 100px 0px 0px 350px;
        background-color: goldenrod;
        border-top: 5px rgb(255, 102, 102) double;
        border-bottom: 5px rgb(255, 102, 102) double;
        border-left: 5px rgb(255, 102, 102) double;
        border-right: 5px rgb(255, 102, 102) double;
        position: relative;
        -webkit-animation: 'MoveToRight' linear 3s;
    }
    
    img {
        border-radius: 50%;
        background-color: aqua;
        margin: -20px -10px 0px 350px;
        width: 100px;
        height: 100px;
        position: relative;
        -webkit-animation: MoveToRight linear 3s, 'rotate1' 0.00001s linear infinite;
        /* position: relative;
    /*過渡時期*/
        /* animation: 'rotate1' 3s linear infinite; */
    }
    
    @-webkit-keyframes MoveToRight {
        0% {
            right: 0%;
        }
        10% {
            right: 15%;
        }
        20% {
            right: 20%;
        }
        30% {
            right: 30%;
        }
        40% {
            right: 40%;
        }
        50% {
            right: 50%;
        }
        60% {
            right: 60%;
        }
        70% {
            right: 70%;
        }
    }
    
    @-webkit-keyframes rotate1 {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
    
    @keyframes rotate1 {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }